.header {
  height: 80vh;
  display: flex;
  align-items: center;
  header {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
    .waving-hand {
      // This is needed so hand doesn't poke through
      // the navigation menu
      z-index: -1;
      display: inline-block;
      margin-right: 0.333em;
      font-size: calc(2rem + 2vmin);
      transform-origin: 75% 75%;
    }
    h1 {
      grid-row: 1 / -1;
      grid-column: 2 / -1;
      font-size: calc(2rem + 2vmin);
    }
    p {
      grid-row: 2 / -1;
      grid-column: 2 / -1;
      font-size: calc((var(--scalar) * 1rem) + 2vmin);
    }
  }
}

.wave-on-hover {
  &:hover .waving-hand {
    animation: wave-animation 400ms 3;
  }
}

.initial-wave {
  .waving-hand {
    animation: wave-animation 400ms 3;
  }
}