@import "./reset";
@import "./variables";
@import "./keyframes";

@import "./navbar";
@import "./header";

body {
  min-height: 100vh;
}

a {
  transition: 200ms;
  text-decoration: none;
}

.container {
  width: 100%;
  > * {
    margin: 0 auto;
    width: 40rem;
    max-width: 90vw;
  } 
}
